@mixin mq($arg) {
	@media screen and (max-width: $arg), screen and (max-height: $arg) {
		@content;
	}
}

@import url("https://fonts.googleapis.com/css?family=Chivo&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Chivo', cursive;
}

h1 {
	font-size: 2.5em;
}

body {
	background: #EEEEEE;
	overflow-x:hidden;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	height:20vh;
	animation: slidedown 1s ease;

	p {
		padding: 0.5rem 0.1rem;

		span {
			background: #000;
			color: #fff;
			padding: 0.2rem 0.5rem;
		}
	}
}

#master {
	background-color: #353535;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	transition: all 4s ease;

	@include mq(600px) {
		display: flex;
		flex-direction: column;
	}
}

nav {
	position: fixed;
	z-index:5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2rem 0;
	bottom:0;
	right:0;
	transform-origin:top right;
	transform:rotate(90deg);
	transition:all 2s ease;

	a {
		padding: 0.5rem 1rem;
		background: #F7F7F7;
		color: #2C2C2C;
		border-radius: 0.5rem;
		margin: 0.1rem;
		font-weight: normal;
		cursor: pointer;
	}
}

footer {
	width: 100%;
	display: flex;
	background:#000;
	color:#fff;
	padding:2rem 1rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
	height:20vh;
}

.aslideup {
	animation: slideup 4.2s ease;
}

.aslideup2 {
	animation: slideup 5.2s ease;
}

.aslidedown {
	animation: slidedown 6.3s ease;
}

.aslidedown2 {
	animation: slidedown 5s ease;
}

.aleftbottom {
	animation: leftbottom 3.8s ease;
}

.aleftbottom2 {
	animation: leftbottom 6.4s ease;
}

.arighttop {
	animation: righttop 4s ease;
}

.arighttop2 {
	animation: righttop 3.2s ease;
}

.aflash {
	animation: flash 3s ease;
}

.aflash2 {
	animation: flash 6s ease;
}

@keyframes slideup {
	0% {
		transform: translateY(100%);
		max-height:0px;
	}
	30%{
		max-height:700px;
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes slidedown {
	0% {
		transform: translateY(-100%);
		max-height:0px;
	}
	30%{
		max-height:700px;
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes righttop {
	0% {
		transform: translate(100%, -100%);
		max-height:0px;
	}

	100% {
		transform: translate(0, 0);
	}
}

@keyframes leftbottom {
	0% {
		transform: translate(-100%, 100%);
		max-height:0px;
	}
	30%{
		max-height:700px;
	}

	100% {
		transform: translate(0, 0);
	}
}

@keyframes flash {
	0% {
		transform: scale(0.5);
		max-height:0px;
	}
	30%{
		max-height:700px;
	}

	100% {
		transform: scale(1);
	}
}

